*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Plus Jakarta Sans', sans-serif;

}


.grid-container{
    max-width: 600px;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.144);
    font-size: 16px;
    display: grid;
    grid-template-areas: "header" "main";
    /* grid-template-rows: 4rem auto; */
    grid-template-rows: 1fr auto;
}

.header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-area: header;
    padding-bottom: 1.8rem;
}

.header .badge{
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    font-size: .7em;
    padding: 0px 12px;
    border-radius: 6px;
}


h1{
    font-size: 1.5rem;
}


.header a{
    justify-self: end;
    color: hsl(219, 14%, 63%);
    font-weight: 500;
    text-decoration: none;
}

.main strong:hover{
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.header a:hover{
    color: hsl(219, 85%, 26%);
    
}


.main{
    grid-area: main;
    display: grid;
    gap: 10px;
    align-content: flex-start;
}

.main .card{
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-areas: "avatar content" ;
    grid-template-columns: 8% auto;
    font-size: .9rem;
    gap: 1rem;
    
}

.main a:hover{
    color: hsl(219, 85%, 26%);
}
.photo{
    width: 45px;
}

.main .card .avatar{
    grid-area: avatar;
}


.main .card .content{
    grid-area: "content";
}

.main .card .content .text {
    color:hsl(219, 14%, 63%);
}


.main .card .time{
    /* grid-area: time; */
    color: hsl(219, 14%, 63%);
}

.grid-container .main .card .content .time{
    margin-top: .4rem;
}


.main .card p .time{
    background-color: red;
}

.unread {
    background-color: hsl(211, 68%, 94%);
    border-radius: 10px;
}

.unread .text::after {
    content: ' •';
    color: hsl(1, 90%, 64%);
}

.message{
    border-radius: .3rem;
    margin-top: .5rem;
    padding: 1.1rem 1rem;
    color: hsl(219, 12%, 42%);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}



body .grid-container .main .comment{
    display: flex;
    justify-content: space-between;
}

.img-chess{
    width: 44px;
}

.img-chess:hover{
    cursor: pointer;
}

.main a{
    text-decoration: none;
    font-weight: 800;
    color: hsl(219, 12%, 42%);
}


.main .group{
    color: hsl(219, 85%, 26%);
    font-weight: 800;
}

.main .message:hover{
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}


@media (min-width:600px){
    .grid-container{
        margin: 40px auto;
        border-radius: 20px;
        padding: 10px;
    }
    h1{
        font-size: 2em;
    }

    .main{
        gap: 20px;
    }
}